.tipoProjeto{
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin:100px 50px;
    width:35vw;
    max-width: 450px;
    min-width:350px;
    height:230px;
    cursor: pointer;
    background-color:#212121;
    border-bottom: 4px solid #00DF5E;
}

.tipoProjeto h2{
    color: var(--icons-color);
    font-size: 25px;
    font-weight: bold;
}

.tipoProjeto p{
    width:90%;
    transition: all ease 1s;
    position: absolute;
    bottom: -80px;
    color: #ffff;
}

.tipoProjeto:hover  p{
    bottom: 90px;
}

.tipoProjeto:hover h2{
    display: none;
    transition: all ease 1s;
}

@media (max-width: 1160px){
    .tipoProjetos{
        display: flex;
        flex-direction: column;
    }
    .tipoProjeto{
        margin: 50px;
    }
}