.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:30px;
    background-color:var(--icons-color);
    color: #171717;
    border-radius:5px;
    border:none;
    cursor: pointer;
    transition: all .5s;
    font-weight: bold;
    margin: 0 5px;
}

.button:hover{
    background-color: var(--btn-secondary-color);
    color: var(--title-color);
}
